.header-wr {
  width: 100%;
  background: #e9ded4 url(../images/background.jpg);
  position: relative;
}

.header__main-wrap {
  max-width: 1620px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  height: 700px;
  overflow: hidden;
}

@media screen and (max-width: 700px) {
  .header__main-wrap {
    height: 990px;
  }
}

@media screen and (max-width: 425px) {
  .header__main-wrap {
    height: 834px;
  }
}

@media screen and (max-width: 380px) {
  .header__main-wrap {
    position: static;
    height: 775px;
  }
  .header__main > a > svg {
    width: 213px;
  }
}

.header {
  max-width: 1220px;
  padding: 25px 20px 0 20px;
  margin: 0 auto;
}

@media screen and (max-width: 380px) {
  .header {
    padding: 15px 20px 0 20px;
  }
}

.header__main {
  max-width: 542px;
  position: absolute;
  z-index: 6;
  padding-right: 20px;
}

.header__main > a {
  margin-top: 25px;
  cursor: pointer;
}

.header__main > h2 {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-size: 60px;
  line-height: 66px;
  color: #313131;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .header__main > h2 {
    font-size: 45px;
    line-height: 45px;
  }
}

@media screen and (max-width: 425px) {
  .header__main > h2 {
    font-size: 36px;
    line-height: 39px;
    margin-top: 0px;
  }
}

@media screen and (max-width: 320px) {
  .header__main > h2 {
    font-size: 30px;
    line-height: 30px;
  }
}

.first-h2 {
  margin-top: 55px;
}

@media screen and (max-width: 425px) {
  .first-h2 {
    margin-top: 35px !important;
  }
}

.header__main > p {
  font-family: "Golos Text", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  margin-top: 27px;
  color: #313131;

  text-align: center;
}

.header__buton-block {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .header__buton-block {
    flex-direction: column;
  }
  .header__buton-block > button:first-child {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 425px) {
  .header__buton-block {
    margin-top: 30px;
  }
}

.btn-black {
  background-color: #1f1f1f;
  color: #ffffff;
  border: none;
  transition: 0s background-color color;
  transition-delay: 0.3s;
}

@media screen and (max-width: 768px) {
  .brnone > br {
    display: none;
  }
}

.btn-black:hover {
  color: #1f1f1f;
  background-color: #fbce51;
}

.btn-transparent {
  background-color: transparent;
  color: #1f1f1f;
  border: 2px solid #1f1f1f;
  transition: 0s background-color color;
  transition-delay: 0.3s;
}

.btn-transparent:hover {
  color: #ffffff;
  background-color: #1f1f1f;
}

.header__wrap {
  max-width: 1620px;
  margin: 0 auto;
}

.header__background {
  height: 700px;
  position: relative;
}

@media screen and (max-width: 700px) {
  .header__background {
    height: 900px;
  }
}

@media screen and (max-width: 375px) {
  .header__background {
    height: 0;
  }
}

.wrap {
  width: 100%;
  height: 700px;
  position: relative;
}

@media screen and (max-width: 700px) {
  .wrap {
    height: 990px;
  }
}

@media screen and (max-width: 425px) {
  .wrap {
    height: 833px;
  }
}

@media screen and (max-width: 380px) {
  .wrap {
    height: 0;
  }
}

.king {
  position: absolute;
  width: 133px;
  height: 256px;
  top: 270px;
  right: 630px;
  background: url("../images/king.png") no-repeat;
}

@media screen and (max-width: 1366px) {
  .king {
    right: 500px;
  }
}

@media screen and (max-width: 700px) {
  .king {
    background-size: 100%;
    width: 133px;
    height: 256px;
    right: 500px;
    top: auto;
    bottom: 100px;
  }
}

@media screen and (max-width: 425px) {
  .king {
    right: 100px;
    height: 133px;
    width: 47px;
    right: 300px;
    bottom: 90px;
  }
}

@media screen and (max-width: 375px) {
  .king {
    right: 260px;
    top: auto;
    bottom: 90px;
  }
}

.queen {
  position: absolute;
  width: 146px;
  height: 266px;
  top: 170px;
  right: 285px;
  background: url("../images/chess.png") no-repeat;
}

@media screen and (max-width: 1366px) {
  .queen {
    top: 160px;
    right: 160px;
  }
}

@media screen and (max-width: 700px) {
  .queen {
    background-size: 100%;
    top: auto;
    bottom: 180px;
  }
}

@media screen and (max-width: 425px) {
  .queen {
    right: 100px;
    width: 47px;
    height: 133px;
    bottom: 150px;
  }
}

@media screen and (max-width: 375px) {
  .queen {
    background-size: 100%;
    width: 47px;
    right: 100px;
    height: 133px;
    top: auto;
    bottom: 140px;
    transform: rotate(14deg);
  }
}

.circle {
  position: absolute;
  width: 660px;
  height: 616px;
  top: -10px;
  right: 160px;
  background-image: url("../images/circle.webp");
}

@media screen and (max-width: 1366px) {
  .circle {
    right: 30px;
  }
}

@media screen and (max-width: 700px) {
  .circle {
    top: 150px;
    width: 302px;
    height: 306px;
    background-image: url("../images/circle-min.webp");
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    top: 420px;
  }
}

@media screen and (max-width: 543px) {
  .circle {
    top: 450px;
  }
}

@media screen and (max-width: 425px) {
  .circle {
    top: 400px;
  }
}

.city {
  position: absolute;
  width: 1605px;
  height: 441px;
  right: 0;
  bottom: 0;
  z-index: 2;
  background: url("../images/city.webp");
  background-position: 100% 0%;
}

@media screen and (max-width: 1366px) {
  .city {
    right: -120px;
  }
}
@media screen and (max-width: 700px) {
  .city {
    background: url("../images/city-min.webp");
    width: 744px;
    right: 0px;
    top: 550px;
  }
}

@media screen and (max-width: 425px) {
  .city {
    background: url("../images/city-425.webp") no-repeat;
    width: 425px;
    height: 283px;
  }
}

@media screen and (max-width: 375px) {
  .city {
    right: 0px;
    background: url("../images/city-min1.webp") no-repeat;
    width: 375px;
    right: 0px;
    top: 526px;
    height: 250px;
  }
}

.city > img {
  position: absolute;
}

.pawn {
  bottom: 20px;
  right: 170px;
}

@media screen and (max-width: 700px) {
  .pawn {
    display: none;
  }
}

.horse {
  bottom: 0;
  right: 460px;
  width: 197px;
}

@media screen and (max-width: 700px) {
  .horse {
    right: 260px;
  }
}

@media screen and (max-width: 500px) {
  .horse {
    right: 180px;
  }
}

@media screen and (max-width: 425px) {
  .horse {
    width: 100px;
  }
}

@media screen and (max-width: 375px) {
  .horse {
    right: 130px;
  }
}
